<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>{{player.names}} - Details</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="../static/assets/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/assets/modules/fontawesome/css/all.min.css">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="../static/assets/modules/bootstrap-social/bootstrap-social.css">
  <link rel="stylesheet" href="../static/assets/modules/owlcarousel2/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="../static/assets/modules/owlcarousel2/dist/assets/owl.theme.default.min.css">

  <!-- Template CSS -->
  <link rel="stylesheet" href="../static/assets/css/style.css">
  <link rel="stylesheet" href="../static/assets/css/components.css">
<!-- Start GA -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-94034622-3');
</script>
<!-- /END GA --></head>

<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
          </ul>
        </form>
        <ul class="navbar-nav navbar-right">
          
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            <img alt="image" src="../static/pictures/profile/{{profileP}}" class="rounded-circle mr-1" style="width:41px;height:40px;">
            <div class="d-sm-none d-lg-inline-block">Hi, {{user}}</div></a>
            <div class="dropdown-menu dropdown-menu-right">
              
              <div class="dropdown-divider"></div>
              <a href="{{url_for('logout')}}" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="index.html">Scout Systen</a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="index.html">St</a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>
            <li class="dropdown active">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Dashboard</span></a>
              <ul class="dropdown-menu">
                <!-- if scout status -->
                {%if status== 'scout'%}
                <li ><a class="nav-link" href="{{url_for('scoutNewPlayer')}}">New Player</a></li>
                <li><a class="nav-link" href="{{url_for('scoutPlayer')}}">Players</a></li>
                {%elif status=='admin'%}
                <li ><a class="nav-link" href="{{url_for('adminActivateAC')}}">New Accounts</a></li>
                <li><a class="nav-link" href="{{url_for('admin_allPLayers')}}">Players</a></li>
                <li><a class="nav-link" href="{{url_for('admin_allScout')}}">Scouts</a></li>
                <li><a class="nav-link" href="{{url_for('admin_allClub')}}">Team</a></li>
                {%elif status=='player'%}
                <li class="active"><a class="nav-link" href="#">Player Profile</a></li>
                <li ><a class="nav-link" href="{{url_for('PlayerDealList')}}">Deal History</a></li>
                {%elif status=='club'%}
                <li><a class="nav-link" href="{{url_for('clubDealList')}}">Deal History</a></li>
                {%endif%}
                {%if status != 'player'%}
                <li ><a class="nav-link" href="{{url_for('availablePlayer')}}">Available Player</a></li>
                {%endif%}
              </ul>
            </li>
            {%if status=='player'%}
            <li class="dropdown ">
              <a href="{{url_for('playerupdate',email=c_email)}}" class="nav-link"><i class="fas fa-cog"></i><span>Edit Profile</span></a>
            </li>
            {%elif status=='scout'%}
            <li class="dropdown ">
              <a href="{{url_for('update_scout',email=c_email)}}" class="nav-link"><i class="fas fa-cog"></i><span>Edit Profile</span></a>
            </li>
            {%elif status=='admin'%}
            <li class="dropdown ">
              <a href="{{url_for('update_admin',email=c_email)}}" class="nav-link"><i class="fas fa-cog"></i><span>Edit Profile</span></a>
            </li>
            {%endif%}
          </ul>
        </aside>
      </div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>PLayer Details</h1>
          </div>

          <div class="section-body">

            <div class="row">
              <div class="col-12 col-sm-12 col-lg-7">
                
                <div class="card author-box card-primary my-b-radius my-bb-card">
                  <div class="card-body">
                    
                    <div style="position:relative;">
                      <div class="author-box-left" style=" border-radius: 100%;overflow: hidden; padding-left: 0px; height: 100px;">
                        <img alt="image" src="../static/pictures/profile/{{player.picture}}" style="min-height: 100px;" class=" author-box-picture">
                        <div class="clearfix"></div>
                      </div>
                      {%if not player.isActivated and status=='admin'%}
                        <form action="" id="admitForm" method="post" style="bottom:-150px;left:15px;position:absolute;">
                          <button class="btn btn-primary" style="margin-top:9px;">Admit</button>
                        </form>
                        {%endif%}
                    </div>
                    <div class="author-box-details">
                      <div class="author-box-name" style="display: flex; justify-content:space-between;">
                        <a href="#">{{player.names}}</a>
                        <a href="{{url_for('playerGalley',email=player.email)}}" class="btn btn-outline-dark">view Photo</a>
                      </div>
                      <div class="author-box-job">PLAYER</div>
                      <div class="author-box-description">
                        
                        <p><b>Email: </b>{{player.email}}</p>
                      </div>
                      <div class="author-box-description">
                        <p><b>Phone: </b>{{player.phone}}</p>
                      </div>
                      <div class="author-box-description">
                        <p><b>Nationality: </b>{{player.nationality}}</p>
                      </div>
                      <div class="author-box-description">
                        <p><b>Birth Date: </b>{{player.birthdate}}</p>
                      </div>
                      <div class="author-box-description">
                        <p><b>Played Position: </b>{{player.position}}</p>
                      </div>
                      <div class="author-box-description">
                        <p><b>Height: </b>{{player.height}} cm</p>
                      </div>
                      <div class="author-box-description">
                        <p><b>Weight: </b>{{player.weight}} Kg</p>
                      </div>
                      <div class="author-box-description">
                        <p><b>Scout Name: </b>{{player.scout.names}}</p>
                      </div>
                      <div class="author-box-description">
                        <p><b>Scout Email: </b>{{player.scout_email}}</p>
                      </div>
                      <div class="author-box-description">
                        <p><b>Player Since: </b>{{player.playerSince}}</p>
                      </div>
                      <div class="author-box-description">
                        <p><b>Appearance in National Team: </b>{{player.nationalApperance}} times</p>
                      </div>
                      <div class="author-box-description">
                        <p><b>Appearance in club team: </b>{{player.appearanceClub}} times</p>
                      </div>
                      <div class="author-box-description">
                        <p><b>Goals: </b>{{player.goals}}</p>
                      </div>
                      <div class="author-box-description">
                        <p><b>Assits: </b>{{player.assist}}</p>
                      </div>
                      <div class="author-box-description">
                        <p><b>Achievements: </b>{{player.achievement}}</p>
                      </div>
                      <div class="author-box-description">
                        <p><b>Price Tag: </b>{{player.priceTags[0].priceTag}} Frw</p>
                      </div>
                      <div class="author-box-description">
                        <p><b>Scout Share: </b>{{player.priceTags[0].scoutShare}} %</p>
                      </div>
                      <div class="author-box-description">
                        <p><b>Team Share: </b>{{player.priceTags[0].teamShare}} %</p>
                      </div>
                      <div class="author-box-description">
                        <p><b>Player Share: </b>{{player.priceTags[0].playerShare}} %</p>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; <span id="theYear"></span>
          <script>document.getElementById('theYear').innerHTML= new Date().getFullYear()</script>
        </div>
        <div class="footer-right">
          
        </div>
      </footer>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="../static/assets/modules/jquery.min.js"></script>
  <script src="../static/assets/modules/popper.js"></script>
  <script src="../static/assets/modules/tooltip.js"></script>
  <script src="../static/assets/modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="../static/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="../static/assets/modules/moment.min.js"></script>
  <script src="../static/assets/js/stisla.js"></script>
  
  <!-- JS Libraies -->
  <script src="../static/assets/modules/owlcarousel2/dist/owl.carousel.min.js"></script>

  <!-- Page Specific JS File -->
  <script src="../static/assets/js/page/components-user.js"></script>
  
  <!-- Template JS File -->
  <script src="../static/assets/js/scripts.js"></script>
  <script src="../static/assets/js/custom.js"></script>
  <script>
    document.getElementById('admitForm').addEventListener('submit',(e)=>{
      e.preventDefault();
      let confirmResult= confirm('Are you sure you want to Admit this Person?')
      if(confirmResult)
        document.getElementById('admitForm').submit();
    })
  </script>
</body>
</html>